# general
pip
wheel
setuptools
twine

# data science
numpy
scipy
pandas
matplotlib
networkx

# gis
gdal
angles
geographiclib
shapely
pyproj
gdalos[qt]
pywps
czml3
#geopandas

# quality
tox
black
mypy
isort
flake8
Sphinx

# services
flask
requests

# others
fidget
transmogripy
swimport
